# Ignorar configuración y dependencias
.env
/vendor/
/node_modules/
/.idea/
/*.log
/storage/cuentas/
/storage/plantillas/*
!/storage/plantillas/plantilla_cuenta_cobro.example.docx

# Ignorar archivos de sistema y editores
.DS_Store
Thumbs.db
